# Python version 3.11.14

# FastAPI and server
fastapi
uvicorn[standard]
python-multipart
websockets

# AWS SDK
boto3
botocore

# Voice Processing
faster-whisper
TTS
espeak-ng

# Utilities
python-dotenv
pydantic